{% load custom_tags %}<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}Home{% endblock %} &ndash; D&amp;D Tools</title>
        <link href="{% media "favicon.ico" %}" rel="SHORTCUT ICON"/>
        <meta name="description" content="Complete list of all D&amp;D spells, rulebooks, feats, classes and more!"/>
        <meta name="keywords" content="D&amp;D, Spells, Feats, Classes"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="google-site-verification" content="T0e3C-V9mijfHz3l51TYGDuvtf14Oz7MWKTxtUbT8Gs" />
        {% block extra_meta %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% media "css/style.css" %}" title="style"/>
        <link rel="stylesheet" type="text/css" href="{% media "css/chosen.css" %}" title="style"/>
    </head>

    <body>
        {% comment %}
        <div class="flash">
            Please check the home page, I've added some news. Thanks.
        </div>
        {% endcomment %}
        <div id="main">
            <div id="header">
                <div id="logo">
                    <div id="logo_text">
                        <h1>
                            <a href="{% url index %}">D&amp;D<span class="logo_colour">tools</span></a>{% if unreadNewsCount %}<span id="counter" title="{{ unreadNewsCount }} unread news">{{ unreadNewsCount }}</span>{% endif %}
                        </h1>

                        <h2>Feats. Spells. Prestige Classes. And more!</h2>
                    </div>
                </div>
                {% include "dnd/menu.html" %}
            </div>
            <div id="site_content">
                {% if display_3e_warning %}
                    <div id="warning-bar">
                        Warning: This is 3.0 Edition material. It is possible that there is more recent 3.5 Edition version.
                    </div>
                {% endif %}
                <div id="breadcrumbs">
                    {% block breadcrumbs %}{% endblock %}
                </div>
                <div class="sidebar">
                    {% block sidebar %}{% endblock %}
                </div>
                <div id="content">
                    {% if inaccurate_url  %}
                        <!--<div id="inaccurate"><a href="{% url inaccurate_content %}?url={{ inaccurate_url|urlencode }}"><img src="{% media "media/inaccurate.png" %}" alt="Inaccurate?"/></a></div>-->
                    {% endif %}
                    {% if is_admin %}
                        <span class="edit">{% block admin_edit %}{% endblock %}</span>
                        <script type="text/javascript">
                            $('.edit:empty').hide();
                        </script>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div id="content_footer"></div>
            <div id="footer">
                {% if is_mobile %}
                    <a href="{% url return_to_mobile_version %}">Return to desktop version</a>
                {% endif %}
            </div>
        </div>

        <script type="text/javascript" src="{% media "js/jquery-1.7.min.js" "no-timestamp" %}"></script>
        <script type="text/javascript" src="{% media "js/jquery.cookie.js" "no-timestamp" %}"></script>
        <script type="text/javascript" src="{% media "js/chosen.jquery.min.js" "no-timestamp" %}"></script>
        <script type="text/javascript">

            var resetMenuTimer;

            $("#menu").find("li").mouseenter(function() {
                $('#menu').find('li').removeClass('arrow');
                $(this).addClass('arrow');
                $('#submenubar').find('ul').hide();
                $('#sub' + $(this).attr('id')).show();
            });

            var $menus = $('#menus');

            $menus.mouseleave(function() {
                window.clearTimeout(resetMenuTimer);
                resetMenuTimer = window.setTimeout(resetMenu, 500);
            });

            $menus.mouseenter(function () {
                window.clearTimeout(resetMenuTimer);
            });

            function resetMenu() {
                var $menu = $('#menu');
                $menu.find('li').removeClass('arrow');
                $menu.find('li.selected').addClass('arrow');
                var $submenubar = $('#submenubar');
                $submenubar.find('ul').hide();
                $submenubar.find('ul.enabled').show();
            }

        </script>
    </body>
</html>
